<template name="documentation">
  <div id="render-target" class="app-body ng-scope">
    <script type="text/javascript">
      render.documentation();
    </script>
    <ul>
      <li><a href="http://www.oracle.com/technetwork/java/javaee/overview/index.html">Java EE Overview</a></li>
      <li><a href="http://www.oracle.com/technetwork/java/javaee/documentation/index.html">Java EE Documentation page</a></li>
    </ul>
    <h1>JSR reference implementations</h1>
    <dl>
      <dt><a href="http://weld.cdi-spec.org/">Weld</a></dt>
      <dd>CDI: Contexts and Dependency Injection</dd>
      <dt><a href="https://jersey.java.net/">Jersey</a></dt>
      <dd>JAX-RS</dd>
    </dl>
    <h1>JavaEE 6 or 7 Certified Solutions</h1>
    <dl>
      <dt><a href="http://glassfish.java.net">GlassFish server Open Source Edition</a></dt>
      <dd>Java EE 7 - full, web</dd>
      <dt><a href="http://wildfly.org">WildFly</a></dt>
      <dd>Java EE 7 - full, web</dd>
      <dt><a href="http://tomee.apache.org/">Apache TomEE</a></dt>
      <dd>Java EE 6 - web</dd>
    </dl>
  </div>

</template>
